
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .
    }
    body{
        width:100%;
    }    
    

    @media (min-width: 360px) {

       
        .fundo{
            height: 740px;
            }
        }

   /*tablet*/

     @media (min-width: 481px) and (max-width: 1024px) {
         .fundo{
             height:1366;
         }
        }

   /*desktop*/

      @media (min-width: 1025px) {
       header{
            
            
            width:100%;
            height:150px;
            }
        
            
            
            
            
        }

        .menu__intensDeCima{ 
            
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            gap:50px;
        
        }
     
        .menu__hamburguer{
            
            padding:20px;
            width:150px;
            
    
        }

        .menu__panda{
            
            width:150px;
            height:150px;
           

        }

        .menu__caixaText{
            border-radius: 30px;
            width:400px;
            text-align: center;
            margin-left: 30%;
            
            
            
        }


        .menu__block{
            background-color: #DA0000;
            width:100%;
            height: 40px;
            display: fixed;
            align-items: center;

        }
        .menu__block__text{
            margin-left: 16%;
            margin-top:-5px;
            height:200px;
            color:white;
            font-size: 30px;
            
            

            
            
        }*/
        }
 body{
        background: linear-gradient(90.15deg,rgb(255, 255, 255) 50.62%,rgb(255, 255, 255) 85.61%);
        
    }
    

    .itens{
        display:flex;
        gap: 500px;
        font-size: 18px;
        font-family: 'Sarala', sans-serif;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }   
   
    .mid1{
        display: flex;
        flex-direction: bloco;
        justify-content: space-around; 
        gap: 60px; 
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 10%;
    }

    .borda{
        border-top: 50px solid #ff1010;
        
    }


    
    .fot{
       background-color: #FF1010;
        height:325px;
        width:100%;
        magin-bottom:0px;
    }
    




   /*MOBILE*/

    @media (max-width: 740px) {

        .fundo{
            height: 360px;
            }
        }

   /*tablet*/

     @media (min-width: 1024) {
         .fundo{
             height:1366;

   /*desktop*/

      @media (min-width: 1980) {
         .fundo{
             height:1080;
