
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    

    @media (max-width: 360px) {

       
        .fundo{
            height: 740px;
            }
        }

   /*tablet*/

     @media (min-width: 1024px) {
         .fundo{
             height:1366;
         }
        }

   /*desktop*/

      @media (min-width: 1980px) {
        
        .menu__hamburguer{
            
            padding:20px;
            width:150px;
            
    
        }

        .menu__panda{
            
            width:150px;
            height:150px;

        }

        .menu__caixaText{
            border-radius: 30px;
            width:300px;
            text-align: center;
            
        }


        .menu__block{
            background-color: #DA0000;
            width:100%;
            height: 40px;
            display: block;
            align-items: center;

        }
        .menu__block__text{
            margin-left: 16%;
            margin-top:-5px;
            height:200px;
            color:white;
            font-size: 30px;
            
            

            
            
        }
        }
